@import 'variables.scss';

.donationHead{
  color: $elWhite;
  width: 500px;
  position: absolute;
  text-align: center;
  font-size: 50px;
  top:10px;
}

.donationFrom{
  color: $elWhite;
  width: 500px;
  position: absolute;
  text-align: center;
  font-size: 30px;
  top:60px;
}

.donationAmount{
  color: $elWhite;
  width: 500px;
  position: absolute;
  text-align: center;
  font-size: 120px;
  top:140px;
}

