@import 'variables.scss';
@import 'brb.gameDayTimer.scss';
@import 'brb.donationAlertPopup.scss';
@import 'brb.donationMessageAlertPopup.scss';

body {
  margin: 0px;
  padding: 0px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  overflow: hidden;
  background-color: white;
}

.hide {
  display: none;
}

.boxView {
  background-color: $elDarkBlue;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 300px;
  border-radius: 0.3em;
  font-family: furore-webfont, sans-serif;
}

